<launch>
	
	<!-- Launch UR node -->
	<node pkg="ur" type="ur_node" name="ur_1">
		
		<!-- host TCP parameters -->
		<param name="hostip" value="192.168.2.10"/>
		<param name="hostport" value="30002"/>
		
		<!-- robot TCP parameters -->
		<param name="robotip" value="192.168.2.11"/>
		<param name="robotport" value="30001"/>
		<param name="robotrtport" value="30003"/>
		
		<!-- robot script filename -->
		<param name="script" value="$(find ur)/script/urscript.ur"/>
		
		<!-- topic refresh ratio (per second) -->
		<param name="rate" value="10"/>
		
	</node>
	
</launch>
